*{
 box-sizing: border-box;
}

/*Designed the layout of website in grid format. In the header, we have logo on the left and main title, subheader on the right followed by menubar. In the main we have content. And footer is in the bottom  */
body{
 display: grid;
 grid-template-rows: "auto 1fr auto";
 grid-template-columns: "auto 1fr";
 grid-template-areas:
 "header header"
 "main main"
 "footer footer";
 font-family: sans-serif;
 margin:0;
}

/*For background picture, used linear gradient for fading purpose so that text is visible*/
body{
  background:
  linear-gradient(
   rgba(0,0,0,0.5),
   rgba(0,0,0,0.5)),
    url('car-bd.jpg');
    background-size: cover;
   }

/*In header, used the grid format to have logo on the left(col1) and title(row1,col2),subheader(row2,col2)*/ 
header{
 grid-area: header;
 display: grid;
 grid-template-rows: "auto 1fr";
 grid-auto-columns: "auto 1fr";
 grid-template-areas: 
 "logo header"
 "logo subheader"
 "menubar menubar";
}

/*Below are the properties for logo, title and subheader*/
/*For logo,provided the width and height*/
header .logo{
  grid-area: logo;
  width:6rem;
  height:auto;
  }

/*Set the font related,alignment/position properties for title*/  
header h1{
 grid-area: header;
 margin:0.4rem;
 text-align:left;
 font-family: 'Tahoma';
 font-size: 2rem;
 color:#fdfcdc;
}

/*Set the font related properties for subheader*/  
header .subheader{
 grid-area: subheader;
 margin:0;
 font-family:cursive; 
 color:#fdfcdc;
 }

 /*Below are the properties for menubar and sub-menubar*/
 /*Removed the bullets from all the unordered list values*/
header ul{
  padding:0rem;
  margin:0rem;
  list-style-type: none; 
}

/*In nav,provided color-related properties and spreaded the button names equally over the menubar*/
header nav{
 background-color: black;
 color:#fdfcdc;
 justify-content: space-around;
 width:100%;
}

/*Displayed the button in flex format alongwith font and color-related properties*/
header button{
 display: flex;
 color:#fdfcdc;
 font-size:medium;
 border-style: none;
 }

/*Set the margin properties for menubar*/
.menubar{
 grid-area: menubar;
 margin-top:1rem;
 margin-left:0rem;
 }

 /*Display-property for menubar that is the text in the menubar is placed in a line*/
 .menubar > ul{
 display: flex;
 flex-direction: row;
}

/*Position-related property for menu*/
.menu > li{
padding:0 1rem;
width: 100%;
position: relative;
padding-left:1rem;
}

/*Box-model and display property for buttons in menu*/
.menu button{
  display: flex;
  width:auto;
  padding:0.5rem;
  border: 0;
  font:inherit;
  background-color:transparent;
}

/*Hover property for menu*/
 .menu button:hover{
  box-sizing: border-box;
  background-color:grey;
 } 

 /*Focus-within and hover property used for menu and submenu*/
 .menu > li:focus-within .submenu, .menu > li:hover .submenu{
  box-sizing: border-box;
  max-height: 90vh;
  visibility: visible;
  padding-top:0rem;
 }

/*For Submenu: Display-related(column wise direction given for drop down), position-related and transition properties are provided*/
.submenu{
 display: flex;
 flex-direction: column;
 position: absolute;
 left:0rem;
 top: 2.1rem;
 max-height:0;
 overflow: hidden;
 /* visibility: hidden; */
 background-color:grey;
 transition:max-height 0.5s;
}

/*For text in the submenu, display and color-related properties are provided*/
.submenu a{
 display: inline-block;
 width:100%;
 padding:0;
 /* padding: 0.5rem 0.5rem; */
 color:black;
 text-decoration: none;
}

/*Hover property provided for submenu*/
.submenu a:hover{
 box-sizing: border-box;
 color:#fdfcdc;
 background-color:black;
}

/*For main, Grid item's size, location, Box-model and color property are provided*/
main{
 grid-area: main;
 padding:1.5rem;
 color:#fdfcdc;
 }

/*For footer,Grid item's size, location are provided*/ 
footer{
 grid-area: footer;
 position: absolute;
 bottom:0;
 right:0;
 color: #fdfcdc;
}